@import 'variables';

h1 {
    color: $color;
    // background-color: blue;
}

.card-course-item {
    margin-top: 16px !important;
    // width: 100% !important;
}

#oke1 {
    max-width: 100% !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

#oke2 {
    max-width: 100% !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

a {
    text-decoration: none !important;
}

.user-avartar {
    border-radius: 50%;
}

// .add-course {
//     float: right;
// }

// .trash {
//     float: left;
// }

.checkbox-select-all-option {
    width: 170px !important;
    margin: 0 16px;
}