<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">F8 EDUCATION</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-1/327761571_1270228580505997_1151669533119487258_n.jpg?stp=cp0_dst-jpg_p40x40&_nc_cat=100&ccb=1-7&_nc_sid=7206a8&_nc_ohc=FYESNkdXYIUAX-WHluz&_nc_ht=scontent.fhan2-4.fna&oh=00_AfBA3dRyDV-LPfv2FFYd4lGhQnUerEo3N5gsDknQfglsQA&oe=643CBE61" alt="" class="user-avartar">
            Điệp Tôn
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
            
            <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/login">Đăng xuất</a></li>
          </ul>
        </li>
      
      </ul>
      {{!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> --}}
    </div>
  </div>
</nav>